.form-container{
		display: flex;
		margin-left: 16.5%;
	}
	
	.form-wrapper{
		width: 320px;
		background: #009879;
		padding: 10px 20px;
		box-sizing: border-box;
		border-radius: 7px;
		margin: 10px;
		float: left;
	}
	
	h2{
		text-align: center;
		color: #fff;
		font-weight: normal;
		margin-bottom: 20px;
	}
	
	.form-wrapper form input{
		width: 100%;
		background: #FFA500;
		border: 1px solid #000;
		border-radius: 3px;
		padding: 6px 15px;
		box-sizing: border-box;
		margin-bottom: 20px !important;
		font-size: 16px !important;
	}
	
	input[type="submit"]{
		background: #FFA500;
		border: 0;
		cursor: pointer;
		border: 1px solid #000;
	}
	
	input[type="file"]{
		background: #FFA500;
		border: 0;
		cursor: pointer;
		border: 1px solid #000;
	}
	
	input[type="submit"]:hover{
		background: #ffc457;
		transition: .2s;
	}
	
	.btn-primary {
  color: #ff5722 !important;
  background-color: #fff !important;
  border-color: #ff5722 !important;
  margin-left: 47%;
  height: 50px;
  width: 100px;
}

.btn-primary:hover {
  color: #fff !important;
  background-color: #ff5722 !important;
  border-color: #ff5722 !important;
}
	
@media only screen and (max-width: 1025px){
	.form-container{
	margin-left: 5%;
	}
	
	.btn-primary{
	margin-left:45%;
	}
}

@media only screen and (max-width: 980px){
	.form-container{
	display: inline-block;
	margin-left: 5%;
	}
	
	.btn-primary{
	margin-left:38%;
	}
}