.form-container {
	display: flex;
	margin-left: 16.5%;
}

.form-wrapper {
	width: 320px;
	border: 2px solid #ff5722;
	padding: 10px 20px;
	box-sizing: border-box;
	border-radius: 7px;
	margin: 10px;
	float: left;
}

h2 {
	text-align: center;
	color: #ff5722;
	font-weight: normal;
	margin-bottom: 20px;
}

.form-wrapper form input {
	width: 100%;
	background: #fff;
	border: 1px solid #ff5722;
	border-radius: 3px;
	padding: 6px 15px;
	box-sizing: border-box;
	margin-bottom: 5px !important;
	margin-top: 5px !important;
	font-size: 16px !important;
}

input[type="submit"] {
	background: #FFA500;
	border: 0;
	cursor: pointer;
	border: 1px solid #000;
}

input[type="file"] {
	background: #FFA500;
	border: 0;
	cursor: pointer;
	border: 1px solid #000;
}

input[type="submit"]:hover {
	background: #ff5722;
	transition: .2s;
}

.btn-primary {
	color: #ff5722 !important;
	background-color: #fff !important;
	border-color: #ff5722 !important;
	margin-left: 47%;
	height: 50px;
	width: 100px;
}

.btn-primary:hover {
	color: #fff !important;
	background-color: #ff5722 !important;
	border-color: #ff5722 !important;
}

.form-controller small {
	margin-left: 10px;
	color: red !important;
}

.form-controller.success input[type="text"],
.form-controller.success input[type="password"] {
	border: 2px solid green;
}

.form-controller.error input[type="text"],
.form-controller.error input[type="password"] {
	border: 2px solid red;
}

.div-visualize {
	display: block;
}

.div-non-visualize {
	display: none;
}

@media only screen and (max-width: 1025px) {
	.form-container {
		margin-left: 5%;
	}
	.btn-primary {
		margin-left: 45%;
	}
}

@media only screen and (max-width: 980px) {
	.form-container {
		display: inline-block;
		margin-left: 5%;
	}
	.btn-primary {
		margin-left: 38%;
	}
}