.site-inner{
	max-width: 1280px;
	margin: 0 auto;
	background: #ff5722;
}

.full-width-content .content{
	width: 100%;
}

article{
	display: block;
}

#config-ajax{
	list-style: none;
	margin-top: 30px;
}

.coloum-wrap{
	display:flex;
	justify-content: space-between;
	flex-wrap: wrap;
	margin: 20px 0;
	padding: 0 15px;
}

.coloum-wrap .coloum{
	width: 49%;
}

#config-ajax label {
    display: block;
    font-weight: bold;
    font-style: italic;
    color: #fff;
}

#config-ajax select {
    width: 100%;
    background-color: #f7f7f7;
    padding: 0.625em 0.4375em;
    border: 1px solid #d1d1d1;
}

