@import url("https://fonts.googleapis.com/css?family=Mukta");
a {
  text-decoration: none;
  color: #448aff;
}
.login-reg-panel {
  position: relative;
  text-align: center;
  width: 70%;
  right: 0;
  left: 0;
  margin: auto;
  height: 500px;
  background-color: #ff5722;
}
.white-panel {
  background-color: rgba(255, 255, 255, 1);
  height: 600px;
  position: absolute;
  top: -50px;
  width: 50%;
  right: calc(50% - 50px);
  transition: 0.3s ease-in-out;
  z-index: 0;
}
.login-reg-panel input[type="radio"] {
  position: relative;
  display: none;
}
.login-reg-panel {
  color: white;
}
.login-reg-panel #label-login,
.login-reg-panel #label-register {
  padding: 5px 5px;
  width: 150px;
  display: block;
  text-align: center;
  border-radius: 3px;
  cursor: pointer;
  color: #ff5722;
  background-color: white;
}
.login-info-box {
  width: 30%;
  padding: 0 50px;
  top: 20%;
  left: 4%;
  position: absolute;
  text-align: left;
}
.register-info-box {
  width: 30%;
  padding: 0 50px;
  top: 20%;
  right: 8%;
  position: absolute;
  text-align: left;
}
.right-log {
  right: 50px !important;
}

.login-show,
.register-show {
  z-index: 1;
  display: none;
  opacity: 0;
  transition: 0.3s ease-in-out;
  color: #448aff;
  text-align: center;
  padding: 50px;
}
.show-log-panel {
  display: block;
  opacity: 0.9;
}
.login-show input[type="text"],
.login-show input[type="password"] {
  width: 100%;
  display: block;
  margin: 20px 0;
  padding: 15px;
  border: 1px solid #b5b5b5;
  outline: none;
}

.login-show input[type="submit"] {
  max-width: 150px;
  width: 100%;
  background: white;
  color: #448aff;
  border: 1px #448aff solid;
  padding: 10px;
  text-transform: uppercase;
  border-radius: 2px;
  float: right;
  cursor: pointer;
  transition: 0.4s;
}
.login-show input[type="submit"]:hover {
  color: white;
  background-color: #448aff;
  transition: 0.4s;
}
.login-show a {
  display: inline-block;
  padding: 10px 0;
}

.register-show input[type="text"],
.register-show input[type="password"] {
  width: 80%;
  margin: 5px 0;
  padding: 12px;
  border: 1px solid #b5b5b5;
  outline: none;
}
.register-show input[type="submit"] {
  max-width: 150px;
  width: 100%;
  background: white;
  color: #448aff;
  border: 1px #448aff solid;
  padding: 10px;
  text-transform: uppercase;
  border-radius: 2px;
  float: right;
  cursor: pointer;
  transition: 0.4s;
}

.register-show input[type="submit"]:hover {
  color: white;
  background-color: #448aff;
  transition: 0.4s;
}

.form-controller small{
	margin-left: 10px;	
	color: red !important;
}

.form-controller.success input[type="text"],
.form-controller.success input[type="password"]{
	border: 1px solid #2ecc71;
}

.form-controller.error input[type="text"],
.form-controller.error input[type="password"]{
	border: 1px solid #e74c3c;
}

.div-visualize{
	display:block;
}

.div-non-visualize{
	display:none;
}

/* 
##Device = Tablets, Ipads (portrait)
##Screen = 768px to 1024px
*/
@media (max-width: 1024px) {
  
	.login-reg-panel {
	  width: 100%
	}
	
	.login-info-box {
	  margin-left: 5%;
	}
	
	.login-info-box h2{
	  font-size: 1.7rem;
	}

	.register-info-box {
		margin-right: 7%;
	}
	.register-info-box h2{
		font-size: 1.7rem;
	}
  
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/
@media (max-width: 480px) {
  
 	.login-reg-panel {
	  width: 100%
	}
	
	.login-info-box {
	 width:35%;
	 padding: 0 30px;
	 top: 35%;	 
	 left: -4%;
	}
	
	.login-info-box h2{
	  font-size: 1rem;
	}

	.register-info-box {
	 width:35%;
	 padding: 0 30px;
	 top: 35%;
	 right:	-6%;
	}
	.register-info-box h2{
		font-size: 1rem;
	}

	
	.login-show input[type="text"]::placeholder,
	.login-show input[type="password"]::placeholder {
		font-size: 0.75em;
	}
	
	.register-show input[type="text"]::placeholder,
	.register-show input[type="password"]::placeholder {
		font-size: 0.75em;
	}
	
	.register-show input[type="button"] {
	 font-size: 0.8em;
	}

	
	.login-show h2,
	.register-show h2{
		font-size: 1rem;
	}
  	
	.login-reg-panel #label-login{
	  padding: 5px 5px;
	  width: 80px;
	  display: block;
	  text-align: center;
	  border-radius: 3px;
	}
	.login-reg-panel #label-register{
	  padding: 5px 5px;
	  width: 80px;
	  display: block;
	  text-align: center;
	  border-radius: 3px;
	}
	
	.form-controller small{

}
}